<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>User registration</title>
</head>
<body>
    <header>
        <h2>User registration</h2>
    </header>

    <main>
        <form action="/register" th:action="@{/register}" method="post" th:object="${userForm}">
            <fieldset>
                <label>Username:</label>
                <input type="text" th:field="*{username}"/>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </fieldset>

            <fieldset>
                <label>Password:</label>
                <input type="text" th:field="*{password}">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </fieldset>

            <fieldset>
                <button type="submit"></button>
            </fieldset>
        </form>
    </main>
</body>
</html>